In [1]:
import pandas as pd

import powersddp as psddp

System = psddp.PowerSystem(path='systems-data/system.yml')

In [4]:
teste = System.dispatch(solver='ulp', verbose=True)

============ SCENARIO 1 ===========
           Total Cost: $198.50
===================================
-------------- STAGE 1 ------------
HU1 |    Final Volume:   70.37 hm3
HU1 | Turbined Volume:   52.63 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:    0.00 hm3
GT2 | Power Generated:    0.00 hm3
-------------- STAGE 2 ------------
HU1 |    Final Volume:   41.84 hm3
HU1 | Turbined Volume:   47.53 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:    4.85 hm3
GT2 | Power Generated:    0.00 hm3
-------------- STAGE 3 ------------
HU1 |    Final Volume:   20.00 hm3
HU1 | Turbined Volume:   36.84 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:   15.00 hm3
GT2 | Power Generated:   -0.00 hm3
===================================
       Power Shortage: 0.00 MWmed
        Marginal Cost: 9.50
===================================

============ SCENARIO 2 ===========
           Total Cost: $350.50
===================================
-------------- STAGE 1 ------------
HU1 |    Final Volume:   68.68 hm3
HU1 | Turbined Volume:   47.32 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:    5.05 hm3
GT2 | Power Generated:    0.00 hm3
-------------- STAGE 2 ------------
HU1 |    Final Volume:   45.84 hm3
HU1 | Turbined Volume:   36.84 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:   15.00 hm3
GT2 | Power Generated:    0.00 hm3
-------------- STAGE 3 ------------
HU1 |    Final Volume:   20.00 hm3
HU1 | Turbined Volume:   36.84 hm3
HU1 |  Shedded Volume:    0.00 hm3
HU1 |      Water Cost:    9.50 hm3
-----------------------------------
GT1 | Power Generated:   15.00 hm3
GT2 | Power Generated:    0.00 hm3
===================================
       Power Shortage: 0.00 MWmed
        Marginal Cost: 9.50
===================================

In [3]:
import pandas as pd

pd.DataFrame(complete_results)

,stage,scenario,total_cost,future_cost,operational_marginal_cost,shortage,hydro_units,thermal_units
0,3,0,43025.00,0.0,-500.0,85.25,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
1,3,1,48325.00,0.0,-500.0,95.85,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
2,3,0,13275.00,0.0,-500.0,25.75,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
3,3,1,15175.00,0.0,-500.0,29.55,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
4,3,0,13275.00,0.0,-500.0,25.75,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
5,3,1,15175.00,0.0,-500.0,29.55,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
6,3,0,24025.00,0.0,-500.0,47.25,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
7,3,1,29325.00,0.0,-500.0,57.85,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
8,3,0,127.50,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 12.75}, {'g_t': 0.0}]"
9,3,1,188.75,0.0,-25.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 1.55}]"
10,3,0,127.50,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 12.75}, {'g_t': 0.0}]"
11,3,1,188.75,0.0,-25.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 1.55}]"
12,3,0,21650.00,0.0,-500.0,42.50,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
13,3,1,25050.00,0.0,-500.0,49.30,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
14,3,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
15,3,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
16,3,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
17,3,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 3, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
18,2,0,37725.00,0.0,-500.0,74.65,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
19,2,1,44350.00,0.0,-500.0,87.90,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
20,2,0,11375.00,0.0,-500.0,21.95,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
21,2,1,13750.00,0.0,-500.0,26.70,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
22,2,0,11375.00,0.0,-500.0,21.95,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
23,2,1,13750.00,0.0,-500.0,26.70,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
24,2,0,18725.00,0.0,-500.0,36.65,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
25,2,1,25350.00,0.0,-500.0,49.90,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
26,2,0,89.50,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 8.95}, {'g_t': 0.0}]"
27,2,1,137.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 13.7}, {'g_t': 0.0}]"
28,2,0,89.50,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 8.95}, {'g_t': 0.0}]"
29,2,1,137.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 13.7}, {'g_t': 0.0}]"
30,2,0,18250.00,0.0,-500.0,35.70,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
31,2,1,22500.00,0.0,-500.0,44.20,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
32,2,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
33,2,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
34,2,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
35,2,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 2, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
36,1,0,32425.00,0.0,-500.0,64.05,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
37,1,1,41700.00,0.0,-500.0,82.60,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
38,1,0,9475.00,0.0,-500.0,18.15,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
39,1,1,12800.00,0.0,-500.0,24.80,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
40,1,0,9475.00,0.0,-500.0,18.15,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
41,1,1,12800.00,0.0,-500.0,24.80,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
42,1,0,14850.00,0.0,-500.0,28.90,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
43,1,1,22700.00,0.0,-500.0,44.60,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
44,1,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
45,1,1,118.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 11.8}, {'g_t': 0.0}]"
46,1,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
47,1,1,118.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 11.8}, {'g_t': 0.0}]"
48,1,0,14850.00,0.0,-500.0,28.90,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
49,1,1,20800.00,0.0,-500.0,40.80,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 15.0}, {'g_t': 10.0}]"
50,1,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
51,1,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
52,1,0,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 0, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"
53,1,1,80.00,0.0,-10.0,0.00,"[{'name': 'HU1', 'stage': 1, 'scenario': 1, 'v...","[{'g_t': 8.0}, {'g_t': 0.0}]"

In [4]:
l = []
for row in complete_results:
    l.append(pd.DataFrame(row['hydro_units']))

teste = pd.concat(l)

In [18]:
teste

,name,stage,scenario,v_i,inflow,v_f,v_t,v_v,water_marginal_cost
0,HU1,3,0,20.0,15.0,20.0,15.0,0.0,-475.0
1,HU2,3,0,40.0,30.0,40.0,30.0,0.0,-425.0
0,HU1,3,1,20.0,11.0,20.0,11.0,0.0,-475.0
1,HU2,3,1,40.0,22.0,40.0,22.0,0.0,-425.0
0,HU1,3,0,20.0,15.0,20.0,15.0,0.0,-475.0
...,...,...,...,...,...,...,...,...,...
1,HU2,1,1,120.0,32.0,52.0,100.0,0.0,-0.0
0,HU1,1,0,100.0,23.0,63.0,60.0,0.0,-0.0
1,HU2,1,0,200.0,46.0,146.0,100.0,0.0,-0.0
0,HU1,1,1,100.0,16.0,56.0,60.0,0.0,-0.0
1,HU2,1,1,200.0,32.0,132.0,100.0,0.0,-0.0

In [6]:
teste.groupby("scenario").mean().iloc[0].water_marginal_cost

-168.2962962962963

In [7]:
System.cuts

[{'stage': 3, 'coef_b': 55175.0, 'coefs': [-475.0, -425.0]},
 {'stage': 3, 'coef_b': 72175.0, 'coefs': [-475.0, -425.0]},
 {'stage': 3, 'coef_b': 23725.0, 'coefs': [-475.0, 0.0]},
 {'stage': 3, 'coef_b': 23725.0, 'coefs': [-475.0, 0.0]},
 {'stage': 3, 'coef_b': 23725.0, 'coefs': [-475.0, 0.0]},
 {'stage': 3, 'coef_b': 23725.0, 'coefs': [-475.0, 0.0]},
 {'stage': 3, 'coef_b': 55175.0, 'coefs': [-475.0, -425.0]},
 {'stage': 3, 'coef_b': 72175.0, 'coefs': [-475.0, -425.0]},
 {'stage': 3, 'coef_b': 1155.625, 'coefs': [-16.625, 0.0]},
 {'stage': 3, 'coef_b': 1155.625, 'coefs': [-16.625, 0.0]},
 {'stage': 3, 'coef_b': 1155.625, 'coefs': [-16.625, 0.0]},
 {'stage': 3, 'coef_b': 1155.625, 'coefs': [-16.625, 0.0]},
 {'stage': 3, 'coef_b': 23350.0, 'coefs': [0.0, -425.0]},
 {'stage': 3, 'coef_b': 40350.0, 'coefs': [0.0, -425.0]},
 {'stage': 3, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 3, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 3, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 3, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 2, 'coef_b': 50537.5, 'coefs': [-475.0, -425.0]},
 {'stage': 2, 'coef_b': 67537.5, 'coefs': [-475.0, -425.0]},
 {'stage': 2, 'coef_b': 22062.5, 'coefs': [-475.0, 0.0]},
 {'stage': 2, 'coef_b': 22062.5, 'coefs': [-475.0, 0.0]},
 {'stage': 2, 'coef_b': 22062.5, 'coefs': [-475.0, 0.0]},
 {'stage': 2, 'coef_b': 22062.5, 'coefs': [-475.0, 0.0]},
 {'stage': 2, 'coef_b': 50537.5, 'coefs': [-475.0, -425.0]},
 {'stage': 2, 'coef_b': 67537.5, 'coefs': [-475.0, -425.0]},
 {'stage': 2, 'coef_b': 683.25, 'coefs': [-9.5, 0.0]},
 {'stage': 2, 'coef_b': 683.25, 'coefs': [-9.5, 0.0]},
 {'stage': 2, 'coef_b': 683.25, 'coefs': [-9.5, 0.0]},
 {'stage': 2, 'coef_b': 683.25, 'coefs': [-9.5, 0.0]},
 {'stage': 2, 'coef_b': 20375.0, 'coefs': [0.0, -425.0]},
 {'stage': 2, 'coef_b': 37375.0, 'coefs': [0.0, -425.0]},
 {'stage': 2, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 2, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 2, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 2, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 1, 'coef_b': 46562.5, 'coefs': [-475.0, -425.0]},
 {'stage': 1, 'coef_b': 63562.5, 'coefs': [-475.0, -425.0]},
 {'stage': 1, 'coef_b': 20637.5, 'coefs': [-475.0, 0.0]},
 {'stage': 1, 'coef_b': 20637.5, 'coefs': [-475.0, 0.0]},
 {'stage': 1, 'coef_b': 20637.5, 'coefs': [-475.0, 0.0]},
 {'stage': 1, 'coef_b': 20637.5, 'coefs': [-475.0, 0.0]},
 {'stage': 1, 'coef_b': 33025.0, 'coefs': [-237.5, -425.0]},
 {'stage': 1, 'coef_b': 50025.0, 'coefs': [-237.5, -425.0]},
 {'stage': 1, 'coef_b': 384.0, 'coefs': [-4.75, 0.0]},
 {'stage': 1, 'coef_b': 384.0, 'coefs': [-4.75, 0.0]},
 {'stage': 1, 'coef_b': 384.0, 'coefs': [-4.75, 0.0]},
 {'stage': 1, 'coef_b': 384.0, 'coefs': [-4.75, 0.0]},
 {'stage': 1, 'coef_b': 17825.0, 'coefs': [0.0, -425.0]},
 {'stage': 1, 'coef_b': 34825.0, 'coefs': [0.0, -425.0]},
 {'stage': 1, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 1, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 1, 'coef_b': 80.0, 'coefs': [0.0, 0.0]},
 {'stage': 1, 'coef_b': 80.0, 'coefs': [0.0, 0.0]}]

## Decision Variables

### Hydro Units
- Final volume $v_f$: The final volume of the reservoir after the operational period
- Turbined flow  $v_t$: The ammount of water that was turbined during the period
- Shed volume $v_v$: The ammount of water that was shed in the period
- Initial volume $v_i$
- Influx $afl$

### Thermal Units
- total generation $g_t$: The total amount of generation provided by the unit during the period

### System
- Outage $def$: The total ammount of power that will not be delivered by the system



## The Objective Function

Assuming a problem with 3 generation units (2 TGUs and 1 HGU) let's write down the Objetive Function of our problem:

$$
\begin{equation}
    \begin{aligned}
        \min \quad                    & C_1\cdot g_{t_1} + C_2\cdot g_{t_2} + C_{def}\cdot def + 0.01\cdot v_v\\
        \textrm{s.t.} \quad           & \\
        \textrm{hydro balance} \quad  & v_f(i) = v_i(i) + afl(i) - v_t(i) \\
        \textrm{load supplying} \quad & \rho\cdot v_t + g_{t_1} + g_{t_2} + def = \textrm{load}\\
        \textrm{constraints} \quad    & \\
                                      & v_{f_{min}}\leq v_f \leq v_{f_{max}}\\
                                      & v_{t_{min}}\leq v_t \leq v_{t_{max}}\\
                                      & v_{v_{min}}\leq v_v \leq v_{v_{max}}\\
                                      & g_{t_{min}}\leq g_t^\ast \leq g_{t_{max}}\\
        ^\ast \textrm{for each TGU}& 
    \end{aligned}
\end{equation}
$$

> Later we shall also add the Future Cost Function $\alpha$ in the minimization function

In [8]:
import cvxopt.modeling as model
from cvxopt import solvers

import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots

solvers.options['glpk'] = dict(msg_lev='GLP_MSG_OFF')

def dispatch(system, v_i, inflow, cuts, stage, verbose:bool=False):
    n_tgu = len(system.data['thermal-units'])
    n_hgu = len(system.data['hydro-units'])
    solvers.options['show_progress'] = verbose

    ## Initializing Model Variables
    v_f = model.variable(n_hgu, "Final Volume of the Hydro Unit")
    v_t = model.variable(n_hgu, "Turbined Flow of the Hydro Unit")
    v_v = model.variable(n_hgu, "Shed flow of the Hydro Unit")
    g_t = model.variable(n_tgu, "Power generated by the Thermal Unit")
    deficit = model.variable(1, "Power deficit")
    alpha = model.variable(1, "Future Cost")

    ## Objective Function
    fob = 0
    for i, tgu in enumerate(system.data['thermal-units']):
        fob += tgu["cost"]*g_t[i]
    fob+=TestSystem.data['outage_cost']*deficit[0]
    for i, _ in enumerate(system.data['hydro-units']):
        fob += 0.01*v_v[i]
    fob += 1.0 * alpha[0]

    ## Constraints
    
    ### Hydro Balance
    constraints = []
    for i, hgu in enumerate(system.data['hydro-units']):
        constraints.append( v_f[i] == float(v_i[i]) + float(inflow[i]) - v_t[i] - v_v[i] )

    supplying = 0
    ### Load Supply
    for i, hgu in enumerate(system.data['hydro-units']):
        supplying += hgu["prod"] * v_t[i]

    for i, tgu in enumerate(system.data['thermal-units']):
        supplying += g_t[i]

    supplying += deficit[0]

    constraints.append(supplying == system.data['load'][stage-2])
    

    ### Bounds
    for i, hgu in enumerate(system.data['hydro-units']):
        constraints.append(v_f[i] >= hgu["v_min"])
        constraints.append(v_f[i] <= hgu["v_max"])
        constraints.append(v_t[i] >= 0)
        constraints.append(v_t[i] <= hgu["flow_max"])
        constraints.append(v_v[i] >= 0)

    for i, tgu in enumerate(system.data['thermal-units']):
        constraints.append(g_t[i] >= 0)
        constraints.append(g_t[i] <= tgu["capacity"])

    constraints.append(deficit[0] >= 0)
    constraints.append(alpha[0] >= 0)
    
    ### Cut constraint (Future cost function of forward stage)
    for cut in cuts:
        if cut['stage'] == stage:
            equation = 0
            for hgu in range(n_hgu):
                equation += float(cut['coefs'][hgu])*v_f[hgu]
            equation += float(cut['coef_b'])
            constraints.append(alpha[0] >= equation)
    
    ## Solving
    opt_problem = model.op(objective=fob, constraints=constraints)
    opt_problem.solve(format='dense',solver='glpk')

    ## Print
    if verbose:
        print("Total Cost: {}".format(fob.value()))

        for i, hgu in enumerate(system.data['hydro-units']):
            print("{} {} is {} hm3".format(v_f.name,i,v_f[i].value()))
            print("{} {} is {} hm3".format(v_t.name,i,v_t[i].value()))
            print("{} {} is {} hm3".format(v_v.name,i,v_v[i].value()))

        for i, tgu in enumerate(system.data['thermal-units']):
            print("{} {} is {} MWmed".format(g_t.name,i,g_t[i].value()))

        print("{} is {} MWmed".format(deficit.name,deficit[0].value()))

        for i, hgu in enumerate(system.data['hydro-units']):
            print("The cost of water at Hydro Unit {} is {} hm3".format(i,constraints[i].multiplier.value))

        print("The Marginal Cost is: {}".format(constraints[n_hgu].multiplier.value))
        
    return {
        "deficit": deficit[0].value()[0],
        "operational_marginal_cost": constraints[n_hgu].multiplier.value[0],
        "total_cost": fob.value()[0],
        "future_cost": alpha[0].value()[0],
        "hydro_units": [{
            "v_f": v_f[i].value()[0],
            "v_t": v_t[i].value()[0],
            "v_v": v_v[i].value()[0],
            "water_marginal_cost": constraints[i].multiplier.value[0]} for i in range(n_hgu)],
        "thermal_units": [{"g_t": g_t[i].value()[0]} for i in range(n_tgu)]
    }

def plot_future_cost_function(operation: pd.DataFrame):
    
    n_stages = len(operation['stage'].unique())
    
    fig = make_subplots(rows=n_stages, cols=1)

    i = 1
    for stage in operation['stage'].unique():
        stage_df = operation.loc[operation['stage'] == stage] 
        fig.add_trace(go.Scatter(x=stage_df["v_i"],
                                 y=stage_df['average_cost'],
                                 mode='lines',
                                 name="Stage {}".format(i)), row=stage, col=1)
        i+=1

    fig.update_xaxes(title_text="Final Volume [hm3]")
    fig.update_yaxes(title_text="$/MW")

    fig.update_layout(height=300*TestSystem.data['stages'], title_text="Future Cost Function")
    fig.show()

In [9]:
from itertools import product
import numpy as np

n_hgu = len(TestSystem.data['hydro-units'])
n_tgu = len(TestSystem.data['thermal-units'])

step = 100/(TestSystem.data['discretizations']-1)
discretizations = list(product(np.arange(0,100+step,step), repeat=n_hgu))

cuts = []
operation = []
for stage in range(TestSystem.data['stages'],0,-1):
    for discretization in discretizations:
        
        v_i = []
        # For Every Hydro Unit
        for i, hgu in enumerate(TestSystem.data['hydro-units']):
            v_i.append(hgu['v_min'] + (hgu['v_max']-hgu['v_min'])*discretization[i]/100)
        
        # For Every Scenario
        average = 0.
        avg_water_marginal_cost = [0 for _ in TestSystem.data["hydro-units"]]
        for scenario in range(TestSystem.data['scenarios']):
            inflow = []
            for i, hgu in enumerate(TestSystem.data['hydro-units']):
                inflow.append(hgu['inflow_scenarios'][stage-1][scenario])
            
            result = dispatch(TestSystem, v_i, inflow, cuts, stage+1)
            average += result["total_cost"]
            for i, hgu in enumerate(result["hydro_units"]):
                avg_water_marginal_cost[i] += hgu["water_marginal_cost"]

        # Calculating the average of the scenarios
        average = average/TestSystem.data['scenarios']
        coef_b = average
        for i, hgu in enumerate(result["hydro_units"]):
            # ! Invert the coeficient because of the minimization problem inverts the signal
            avg_water_marginal_cost[i] = - avg_water_marginal_cost[i]/TestSystem.data['scenarios']
            coef_b -= v_i[i]*avg_water_marginal_cost[i]
            
        cuts.append({"stage": stage, "coef_b": coef_b, "coefs": avg_water_marginal_cost})
        operation.append({'stage': stage, 'discretization': discretization[i], 'v_i': v_i[0], 'average_cost': round(average,2)})
operation_df = pd.DataFrame(operation)

if n_hgu == 1:
    plot_future_cost_function(operation=operation_df)

NameError: name 'TestSystem' is not defined

In [ ]:
operation_df

## Considering the Future Cost Function

### Modelling the cost of water

Now, let's consider the Future Cost Function to back propagate the solutions. By back propagating we assume that the future cost function of the "stage ahead" is used as input for the previous stage solution.

Assuming that any Future Cost Function is aproximated by a series of straigh line discretizations. Any given point can be identified by a straight line, which is mathematically represented by:

$$
\begin{equation}
    \begin{aligned}
        \alpha = a \cdot v_f + b
    \end{aligned}
\end{equation}
$$

Where $\alpha$ is cost at a given point of final volume. Where shall find the coeficients $a$ and $b$ 

- $a$: Is the marginal cost of the water, which comes from the solution of the minimization problem.

If we assume $\alpha = 75$ and $v_f = 60$ which means a cost of $\$60.00$ at Final Volume $60 hm^3$, that gives us:

$$
\begin{equation}
    \begin{aligned}
        b = \alpha - a \cdot v_f
    \end{aligned}
\end{equation}
$$

> Naturaly, this process is repeated for every discretization used in the problem.

> $a$ is given by the average value of every scenario considered when calculating the marginal cost of the water.

If we evaluate for multiple Hydro Units, naturaly:

$$
\begin{equation}
    \begin{aligned}
        \alpha =b + \sum_{i=1}^{n} a_i \cdot v_{i}
    \end{aligned}
\end{equation}
$$

Where $n$ = number of Hydro units

### Considering the cost function in the back propagation

In the previos stage (back propagating from the end to the beggining) we have the objetive function:

$$
\begin{equation}
    \begin{aligned}
        \min \quad                                   & C_1\cdot g_{t_1} + C_2\cdot g_{t_2} + C_{def}\cdot def + 0.01\cdot v_v + \alpha\\
        \textrm{s.t.} \quad                          & \\
        \textrm{hydro balance} \quad                 & v_f(i) = v_i(i) + afl(i) - v_t(i) - v_v(i) \\
        \textrm{load supplying} \quad                & \rho\cdot v_t(i) + g_{t_1} + g_{t_2} + def = \textrm{load}\\
        \textrm{considering the forward state}\quad  & \\
        \textrm{for every scenario} `s` \quad          & \alpha \geq a^{s} \cdot v_f(i) + b^{s}\\
                \textrm{constraints} \quad           & \\
                                                     & v_{f_{min}}\leq v_f(i) \leq v_{f_{max}}\\
                                                     & v_{t_{min}}\leq v_t(i)  \leq v_{t_{max}}\\
                                                     & v_{v_{min}}\leq v_v(i)  \leq v_{v_{max}}\\
                                                     & g_{t_{min}}\leq g_t^\ast \leq g_{t_{max}}\\
        ^\ast \textrm{for each TGU}& 
    \end{aligned}
\end{equation}
$$